
form {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}

.userRegister__container {
    border: 3px solid #74BDCB;
    width: 50%;
    margin: 5% auto;
    padding: 5%;
    background-color: #FFA384;
    border-radius: 20px;
}

.form-inputs input{
    display: flex;
    flex-flow: column wrap;
    text-align: center;
}

.form-inputs label {
    display: flex;
    flex-flow: column wrap;
    margin: 5% 0;
}

.submitBtn {
    margin: 5% 0;
    padding: 2% 0;
}

.submitBtn:hover {
    border: 2px solid #FFA384;
    
}

.errors {
    margin: 5% 0;
}

.restaurants {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 75%;
    margin: 2% auto;
}

.restaurant {
    
    border: 2px solid #FFA384;
    margin: 2%;
    padding: 2%;
    border-radius: 20px;
    background-image: radial-gradient(#ebe6e0, #FFA384);
}

.restaurant:hover {
    border: 5px dashed #FFA384;
}

.restaurant h4 {
    text-decoration: underline;
}

